body {background-color:#ffe4be ;
margin:auto;

}


@font-face {
    font-family: 'MyCustomFont';
    src: url('/home/alfred/GymnasiumArbeiten/bubblegum/'),
         url('/home/alfred/GymnasiumArbeiten/bubblegum/');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Bubblegum', sans-serif;
}